.text-field {
    border: 0.5px solid #bdbdbd;
    outline: none;
    padding: 4px;
    border-radius: 5px;
    height: 20px;
    min-width: 200px;
}

.text-field:hover {
   outline: none;
    border: 0.5px solid #545454;
}

.text-field:focus {
   border: none;
   outline: 2px solid #f9dc4a; /* #545454; */
   
}